.container1 {
  width: 800px;
  height: 700px;
  background: url('/img/speechbubble.png') center / cover no-repeat;
  background-size: 700px 500px;
  background-position: center 150px;

  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 95px;
  border-radius: 100px;
  border: none;
}

.title {
  font-size: 35px;
  margin-bottom: 20px;
}

.info {
  font-size: 20px;
}

.before {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.send_button {
  width: 200px;
  height: 50px;
  border-radius: 22px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 5px;
}

.send_button:hover {
  background-color: #039b0a;
}
